// this is a single line comment

/* multiple
 line comment
 */
 
// we will choose body background color //
body{
  background-color: #ff9010
  }
p  {
    font-family: times new roman;
    font-size: 15px;
    color: #00ff00
}
