// this is a single line comment

/* multiple
 line comment
 */
 
// we will choose body background color //
body{
  background-color: #cccccc;
  }
p  {
    font-family: bookman;
    font-size: 15px;
    color: #2756a3;
}
h1  {
    font-family: bookman;
    color: #2756a3;
}
h2  {
    font-family: bookman;
    color: #2756a3;
}
h3  {
    font-family: bookman;
    color: #2756a3;
}
h4  {
    font-family: bookman;
    color: #2756a3;
}
h5 {
    font-family: bookman;
    color: #2756a3;
}
h6  {
    font-family: bookman;
    color: #2756a3;
}
ol {
    font-family: bookman;
    font-size: 15px;
    color: #2756a3;
}
ul{
    font-family: bookman;
    font-size: 15px;
    color: #2756a3;
}

